torch
git+https://github.com/huggingface/diffusers.git
transformers>=4.51.0
accelerate
safetensors
sentencepiece
peft
fastapi
uvicorn[standard]
python-dotenv
python-multipart
Pillow
huggingface_hub
hf_transfer
requests
